.next
out
dist
build

node_modules
.yarn

*.log
*.cache
coverage

yarn.lock
package-lock.json
pnpm-lock.yaml

src/components/ui/*
src/components/ui/**/*.{ts,tsx}
src/lib/utils.ts
src/lib/utils/*
components/ui/*
lib/utils.ts
lib/utils/*

next-env.d.ts
**/*.d.ts

drizzle/*
drizzle/**/*
migrations/*
migrations/**/*
./drizzle/*
./drizzle/**/*
./migrations/*
./migrations/**/*